.itemDetail {
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: 3rem;
        margin: 30px 0;
    }

    .detailContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;

        img {
            width: 40%;
        }

        .detailInfo {
            width: 60%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .detailPrecio {
                margin-top: 40px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;

                p {
                    font-weight: 700;
                }
                .contador-card {
                    display: flex;
                    flex-direction: column;
                    max-width: 300px;
                    padding: 0 20px;
                    div {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        align-items: center;
                        border: 2px solid brown;
                        border-radius: 2px; 
                        color: brown;
                        p {
                            margin: 0;
                        }
                        button {
                            color: brown;
                            font-size: 2.4rem;
                            padding: 0 10px;
                            height: 32px;
                            width: 32px;
                            &:hover {
                                background-color: brown;
                                color: white;
                            }
                        }
                    }
                    .boton-agregar {
                        background-color: brown;
                        color: white;
                        font-size: 1.6rem;
                        padding: 10px 20px;
                        &:hover {
                            opacity: 0.9;
                        }
                    }
                    
                }
                .boton-terminar {
                    background-color: brown;
                    color: white;
                    font-size: 1.6rem;
                    padding: 10px 20px;
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
        
    }
   
}


