.productos {
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        text-transform: uppercase;
        font-size: 3rem;
        margin-bottom: 30px;
    }

    .contenedorProductos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .cardComponent {
            max-width: 200px;
            margin: 20px;
            margin-bottom: 30px;
            padding: 10px 0;
            box-shadow: 2px 6px 4px 4px rgba(0,0,0,0.3);
            h3 {
                text-align: center;
                font-size: 2.6rem;
            }
            img {
                width: 100%;
            }
            p {
                margin-top: 10px;
                padding: 0 20px;
            }

            .contador-card {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0 20px;
                div {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    align-items: center;
                    border: 2px solid lightseagreen;
                    border-radius: 2px; 
                    color: lightseagreen;
                    p {
                        margin: 0;
                    }
                    button {
                        color: lightseagreen;
                        font-size: 2.4rem;
                        padding: 0 10px;
                        height: 32px;
                        width: 32px;
                        &:hover {
                            background-color: lightseagreen;
                            color: white;
                        }
                    }
                }
                .boton-agregar {
                    background-color: lightseagreen;
                    color: white;
                    font-size: 1.6rem;
                    padding: 10px 0;
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}