*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  color: #111;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.header {
  min-height: 15vh;
  background-color: khaki;
  -webkit-box-shadow: 0px 5px 4px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 4px 5px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
}

.header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.header div h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header div button .nav__carrito {
  margin-left: 15px;
  font-size: 2.4rem;
  color: brown;
}

.header div button span {
  color: brown;
  font-size: 2rem;
}

.header nav {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav .categoria {
  background-color: transparent;
  color: brown;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 5px 30px;
  font-weight: 700;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
}

.header nav .categoria:focus {
  outline: none;
}

.header nav .categoria:hover {
  cursor: pointer;
  background-color: brown;
  color: whitesmoke;
}

.productos {
  max-width: 1100px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productos h2 {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 30px;
}

.productos .contenedorProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.productos .contenedorProductos .cardComponent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  margin: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 6px 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 6px 4px 4px rgba(0, 0, 0, 0.3);
}

.productos .contenedorProductos .cardComponent h3 {
  margin-top: 10px;
  font-size: 2.6rem;
}

.productos .contenedorProductos .cardComponent img {
  width: 100%;
}

.productos .contenedorProductos .cardComponent p {
  margin-top: 10px;
  padding: 0 20px;
  font-weight: 700;
}

.productos .contenedorProductos .cardComponent .verMas {
  background-color: transparent;
  color: brown;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 5px 30px;
  font-weight: 700;
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
}

.productos .contenedorProductos .cardComponent .verMas:focus {
  outline: none;
}

.productos .contenedorProductos .cardComponent .verMas:hover {
  cursor: pointer;
  background-color: brown;
  color: whitesmoke;
}

.itemDetail {
  max-width: 1100px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.itemDetail h3 {
  font-size: 3rem;
  margin: 30px 0;
}

.itemDetail .detailContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.itemDetail .detailContainer img {
  width: 40%;
}

.itemDetail .detailContainer .detailInfo {
  width: 60%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.itemDetail .detailContainer .detailInfo .detailPrecio {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.itemDetail .detailContainer .detailInfo .detailPrecio p {
  font-weight: 700;
}

.itemDetail .detailContainer .detailInfo .detailPrecio .contador-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  padding: 0 20px;
}

.itemDetail .detailContainer .detailInfo .detailPrecio .contador-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid brown;
  border-radius: 2px;
  color: brown;
}

.itemDetail .detailContainer .detailInfo .detailPrecio .contador-card div p {
  margin: 0;
}

.itemDetail .detailContainer .detailInfo .detailPrecio .contador-card div button {
  color: brown;
  font-size: 2.4rem;
  padding: 0 10px;
  height: 32px;
  width: 32px;
}

.itemDetail .detailContainer .detailInfo .detailPrecio .contador-card div button:hover {
  background-color: brown;
  color: white;
}

.itemDetail .detailContainer .detailInfo .detailPrecio .contador-card .boton-agregar {
  background-color: brown;
  color: white;
  font-size: 1.6rem;
  padding: 10px 20px;
}

.itemDetail .detailContainer .detailInfo .detailPrecio .contador-card .boton-agregar:hover {
  opacity: 0.9;
}

.itemDetail .detailContainer .detailInfo .detailPrecio .boton-terminar {
  background-color: brown;
  color: white;
  font-size: 1.6rem;
  padding: 10px 20px;
}

.itemDetail .detailContainer .detailInfo .detailPrecio .boton-terminar:hover {
  opacity: 0.9;
}
/*# sourceMappingURL=styles.css.map */